/* css for header */

/* css for middle */
/* css for service */
#services{
    margin: 0 0 30px 0;
    background-color: #f0f0f0;
    font-family: sans-serif;
    padding: 60px 0;
}
#services .title{
    text-align: center;
}
#services .title h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
}
#services .container .row{
    color:#666666
}
#services .container .row .card{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
}
#services .container .row .card i{
    font-size: 40px;
    margin: 25px 0 30px 0;
    color: #00b4d9;
}
#services .container .row .card-body .card-title{
    font-weight: 600;
    margin-bottom: 20px;
}
#services .container .row .card-body .card-text{
    margin-bottom: 50px !important;
}
#services .container .row .card:hover{
    box-shadow: 0 0 30px rgba(48, 47,46, 0.25);
}
@media (min-width: 1400px) {
    .container{
        max-width:1140px;
    }
}
@media (max-width: 768px){
    .title h2{
        font-size: 26px;
    }
    .card-body{
        font-size: 15px;
    }
}
/* css for resume */
#resume{
    font-family: sans-serif;
    color: #666666;
}
#resume .container{
    margin-top: 100px;
}
.timeline{
    margin-right: 15px;
}
#resume .container .education{
    position: relative;
    border-left:2px solid #f0f0f0 ;
    padding-right: 30px;
}
#resume .container .education .icon-edu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#00b4d9;
    position:absolute;
    left: -26px;
    top: -20px;
    font-size: 20px; 
} 
#resume .container .education .icon-edu i{
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
}
#resume .container .education h3{  
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666666;
    margin-left: 45px;
    margin-bottom: 30px;
}
#resume .container .education .timeline{
    margin-left: 20px;
}
#resume .container .education .timeline .col{
    background-color: #f2f2f2;
    padding: 10px 20px 10px 10px ;
    margin: 0 0 30px 0;
}
#resume .container .education .timeline .col:last-child{
    margin-bottom: 0;
}
#resume .container .education .timeline .col h4{
    font-weight: 700;
}
#resume .container .education .timeline .col h5{
    font-size: 13px;
    padding: 10px 0;
}
#resume .container .education .timeline .col p{
    font-size: 14px;
    padding-bottom: 5px;
}
#resume .container .education .timeline .col::before{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #00b4d9;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    left: -5.5px;
}

/*  */
#resume .container .experience{
    position: relative;
    border-left: 2px solid #f0f0f0 ;
    padding-right: 30px;
}
#resume .container .experience .icon-exp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#00b4d9;
    position:absolute;
    left: -26px;
    top: -20px;
    font-size: 20px;
} 
#resume .container .experience .icon-exp i{
    position: absolute;
    top: 13px;
    left: 15px;
    color: white;
}

#resume .container .experience h3{

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666666;
    margin-left: 45px;
    margin-bottom: 30px;
}
#resume .container .experience .timeline{
    margin-left: 20px;
}
#resume .container .experience .timeline .col{
    background-color: #f2f2f2;
    padding: 10px 20px 10px 10px ;
    margin: 0 0 30px 0;
}
#resume .container .experience .timeline .col:last-child{
    margin-bottom: 0;
}
#resume .container .experience .timeline .col h4{
    font-weight: 700;
}
#resume .container .experience .timeline .col h5{
    font-size: 13px;
    padding: 10px 0;
}
#resume .container .experience .timeline .col p{
    font-size: 14px;
    padding-bottom: 5px;
}
#resume .container .experience .timeline .col::before{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #00b4d9;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    left: -5.5px;
}
/* css for work */
#work{
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin-top: 60px;
}
#work .container{
    padding-top: 60px;
}
#work .container .title h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

#work .container .row .controls ul{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
#work .container .row .controls ul button{
    font-size: 14px;
    margin-right: 10px;
    border: 2px solid #00b4d9;
    padding: 10px 28px;
    border-radius: 4px;
    background-color: #00b4d9;
    color: white;
    font-weight: 500;
    line-height: 1.5;
}

#work .container .row .controls ul button:hover{
    background-color: white;
    color: #00b4d9;
}
/* #work .container .row .slideImgs{    
} */
.slidesWrapper {
   
}
#work .container .row .slideImgs img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#work .container .col-sm-12{
    padding: 5px !important;
    
    position: relative;
    padding: 0;
}
.slidesWrapper .slideImgs .hover{
    margin: 2px 2px 0 0;
    height: 19.17%;
    width: 19.5%;
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#work .container .slidesWrapper .hover i{
    color: transparent;
}
#work .container .slidesWrapper .col-sm-12:hover .hover{
    background-color: rgba(0,180,217,.6);
    transform: scale(5);
}
#work .container .slidesWrapper .col-sm-12:hover i{
    transform: scale(0.3);
    color: #00b4d9;
    padding: 5px 5px;
    border-radius: 3px;
    background-color: white;
}
#work .container .slidesWrapper .col-sm-12:hover i:hover{
    cursor: pointer;
}


#work .container .slidesWrapper .col-sm-12 .overlay img{
    width: 50%;
    height: 50%;
}
#work .container .slidesWrapper .col-sm-12 .overlay{
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    /* object-fit: contain; */
}
/* #work .container .row .hover {
    width: 340px;
    height: 228px;
    padding: 7px;
    background-color:rgba(0,180,217,.6);
    justify-content:center;
    align-items: center;
    margin-top: 7px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 19px;
    display: none;
    
} */
/* #work .container .row .hover .eye{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 100px;
    border-radius: 10%;
} */
/* #work .container .row .hover .wrap i{
    position: absolute;
    top: 16px;
    left: 14px;
    font-size: 20px;
    color: #00b4d9;
} */
/* #work .container .row .hover .link{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 100px;
    border-radius: 10%;
} */
/* #work .container .row .slideImgs:hover .hover{
    display: block;
} */
.active-btn{
    background-color:white !important;
    color: #00b4d9 !important;
}


/* css for footer */
