/* css for header */

/* css for middle */

/* css for footer */
body {
  font-family: sans-serif;
}
.intro {
  background-image: url(../images/background.jpg);
  height: 20rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15%;
  overflow: hidden;
  position: relative;
}
.intro:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 13, 0.3);
}
.card-intro {
  text-align: center;
}
.card-intro .icon-intro {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #00b4d9;
  box-sizing: border-box;
}
.card-intro h3 {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.card-intro h6 {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
.contact-container {
  padding: 60px 40px;
  margin-bottom: 5rem;
  box-shadow: 0 0 30px #ededed;
}
.main-contact {
  display: flex;
  justify-content: center;
}
.contact-form {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.form-control {
  margin: 0.5rem 0;
  border-radius: 0;
}
.contact-form button {
  background-color: #00b4d9;
  width: 10rem;
  border: none;
  height: 3rem;
}
.contact-container h3 {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #212529;
}
.contact-address {
  width: 50%;
  padding: 1rem;
}
.contact-address h3 {
  margin-bottom: 1rem;
}

.main-address {
  border: 0.2px solid #6666;
}
.infor {
  padding: 5px 1.5rem;
  margin: 10px 15px;
  display: flex;
  align-items: center;
}
.infor a {
  margin: 15px 0;
}
.infor .icon-infor {
  font-size: 1.3rem;
  box-sizing: border-box;
  height: 2.5rem;
  width: 2.5rem;
  color: #fff;
  background-color: #00b4d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infor .content {
  display: block;
}
.infor h6 {
  color: #666;
  padding-left: 1.2rem;
  padding-right: 10rem;
}
.infor a {
  text-decoration: none;
  color: #666;
  padding-left: 1.2rem;
  width: 100%;
}
.map {
  margin-top: 1rem;
  box-sizing: border-box;
  height: 30rem;
  width: 100%;
  z-index: 3;
}
.map iframe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.footer {
  background-color: #1c1c20;
  padding: 60px 0;
  box-sizing: border-box;
}
.icon-footer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.icon-footer a {
  text-decoration: none;
  background-color: #fff;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-footer .icons-footer {
  color: #000;
  font-size: 1.2rem;
}
.footer h6 {
  padding-top: 1.75rem;
  width: 100%;
  color: #fff;
  text-align: center;
}
