.wrapper{
    line-height: 40px;
    text-align: center;
    display: grid;
    justify-content: center;
    margin-top: 100px;
}

.container{
    /* display: flex;
    flex-direction: column; */
    background-color: white;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(131, 108, 108);
    
}
.container i{
    width: 16px;
    height: 16px;
   
}
.wrapper>i{
    font-size: 70px;
    color: #00b4d9;
    margin-bottom: 20px;
}

.submit{
    width: 100px;
}
h3{
    margin-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
    color: #00b4d9;
}
span{
    font-weight: 700;
}
p{
    font-family: sans-serif;
    font-weight: 600;
}